<!-- <div class="container">
  <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
    <label for="name">Name:</label>
    <input type="text" id="name" name="userName" ngModel required>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" ngModel required>
    <button type="submit">submit</button>
   
  </form>
</div>
 -->


<form [formGroup]="LoginForm" (ngSubmit)="submitForm()">
  <label for="name">Name:</label>
  <input type="text" id="name" name="userName" formControlName="name" required>
  {{LoginForm.get("password")?.value}}
  <label for="password">Password</label>
  <input type="password" id="password" name="password" formControlName="password" required>
  <button type="submit">submit</button>
</form>

